<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Validation with HTML API</title>

  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap">

 
</head>

<body>

  <form action="">
    <h2>
      Fazer Login
    </h2>

    <div class="input">
      <input required type="text" />
      <label>CPF ou CNPJ</label>
      <span class="error"></span>
    </div>


    <div class="input">
      <input required type="password" />
      <label>Senha</label>
      <span class="error"></span>
    </div>

    <button type="submit">Enviar</button>

  </form>
  <script src="/public/js/script.js" ></script>
</body>

</html>